<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="icon" href="./favicon.ico">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    
    <title>Cheeky Monkey Games</title>
    <meta name="description" content="Making juicy games 🎮" />
    <meta property="og:title" content="Cheeky Monkey Games" />
    <meta property="og:description" content="Making juicy games 🎮" />
    <!-- <meta property="og:url" content="<%= VUE_APP_PRODUCTION_URL %>" /> -->
    <!-- <meta property="og:image" content="<%= VUE_APP_PRODUCTION_URL %>/img/avatar-og.png" /> -->
	
	<style type="text/css">
		body { font-family: 'Yanone Kaffeesatz', Helvetica, sans-serif; background-color: #1c1c1c; color: #efefef; font-size: 1.4em; line-height: 2em; }
		img { width: 100%; max-width: 400px; opacity: 0.8; }
		div { width: 100%; text-align:center; }
		a { color: #efefef; text-decoration:none; }
		a:hover { color: #bababa; }
	</style>

  </head>
  <body>
    <!-- <noscript> -->
      <!-- <strong>Sorry but this portfolio doesn't work properly without JavaScript enabled. Please enable it to continue.</strong> -->
    <!-- </noscript> -->
		<div>
			<img src="./logo-cheeky-monkey.png" alt="Cheeky Monkey logo" />
		</div>
		<div style="margin-top: 50px; font-size: 1.6em; text-transform: uppercase;">
			I'll be there soon.
		</div>
		<div style="margin-top: 50px;margin-bottom: 0px;">
			In the meantime:
		</div>
		<div>
			<div>
				<a href="https://schouffy.itch.io/neonescape" title="https://play.google.com/store/apps/details?id=games.cheekymonkey.neonescape">
					<span class="fa fa-gamepad fa-lg fa-fw"></span>
					<span>Play <i>Neon Escape</i> for free</span>
				</a>
			</div>
			<div>
				<a href="https://twitter.com/CheekyMonkeyGms" title="https://twitter.com/CheekyMonkeyGms">
					<span class="fa fa-twitter fa-lg fa-fw"></span>
					<span>Follow me on Twitter</span>
				</a>
			</div>
		</div>
  </body>
</html>

